
body{
  background-image: url('chalkboard.png');
  background-repeat: no-repeat;
  background-size: 1345px 650px;
  
}
.board{
    width: 400px;
    height: 280px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
     
}
.board h3{
    font-size: 55px;
    font-family: 'Gugi', cursive;
    color:gold;
    
}
header{


}
header nav{
    display: block;
    text-align: center;
}

li{
    display:inline ;
    border: 2px solid black;
    margin:5px; 
    font-size: 40px;
    padding: 5px;
}
#rest{
    margin-top: 2%;
    margin-left:43%;
    color:black;
    background:whitesmoke;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    width: 150px;
}
.box{
    border-bottom: 2px solid palevioletred;
    border-right: 2px solid palevioletred;
    color: white;
    width: 30%;
    height:33%;
     
}
.right{
    border-right: 0;
}
.bottom{
    border-bottom:0; 
}
h1{
    color:black;
    font-family:  'ZCOOL KuaiLe','cursive';
    font-size:50px;
    margin-left: 38%; 

    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;


}
main{
    display: flex;
    
}
.players{

    margin-left:15%; 
    display: flex;
    justify-content: center;
    
}
.select{
     margin-top:10%; 
    margin-left:15%; 
}
button{
    background: #f44336;
    color:white;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    border: none;
    cursor: pointer;
}
#com{
    width: 105px;
    height: 50px;
    margin-bottom: 10px;  
}
#choice{
    
    display: block;
    text-align: center;
    margin: 3%;
}
#p1,#p2{
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-top:5%;
    /* text-align: center; */
   
}

.players h3{
    margin-right: 20%;
    font-family: 'Gugi', cursive;
    margin-top:0; 
    
}
.turn{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
#y{
    text-align: center;
    font-family: 'Gugi', cursive;
    color:gold;


}
.XandO{

    font-size: 80px;
    display: flex;
    justify-content: center;
    font-family:"Walter Turncoat", cursive;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    

}
footer{
    background-color: brown;
    background-size: cover;
    height: 30px;
    
}
footer p{
    text-align: center;
    margin-top:20px;
}
.win{
    color:gold;
}
@media only screen and (max-width:900px){
    body{
      width: 100%;
      
     }
     h1{
         margin-left: 70px;
     }
  
     .XandO{
        font-size: 30px;
     }
   
    }

